---
id: guide-verification
title: Verified Sellers
custom_edit_url: https://github.com/AirReps/website-content/blob/edit/guide-verification.md
---

:::tip
The best way to get continued support and the latest news about AirPods
replicas, is to [join our discord!](https://airreps.link/discord)
:::

## Background
I has become increasingly harder to keep track of sellers & products which offer a consistent standard of quality. Therefore, AirReps took it upon themselves to offer a solution to verify sellers who meet a standard set of requirements.

We've decided to use SSL/TLS certificates to guarantee that we've marked a seller as verified. We can guarantee that a "verified certificate" is genuine, because we can operate as a 3rd party Certificate Authority.

## Requirements:
1. Seller does not bait-and-switch
1. Seller has a good, long-standing reputation
1. Seller has a significant number of good, independent reviews
1. Seller has gained the trust of the community

## Process
Once a seller has met the above criteria, the following will happen:

1. The seller will apply for verified status with the AirReps community and include a Certificate Signing Request (CSR) along with their application.
1. If granted, AirReps will act as a 3rd party Certificate Authority and co-sign their CSR. This will generate a 3rd Party signed certificate on-behalf of the seller.
1. This certificate is then hosted by AirReps and can be viewed at anytime, provided their certificate is still valid or hasn't been revoked.
    * [Certificates can be viewed here](https://docs.airreps.info/verification/search)