---
id: guide-verification
title: Verified Sellers
custom_edit_url: https://github.com/AirReps/website-content/blob/edit/guide-verification.md
---

:::tip
The best way to get continued support and the latest news about AirPods
replicas, is to [join our discord!](https://airreps.link/discord)
:::

## Background
I has become increasingly harder to keep track of sellers & products which offer a consistent standard of quality. Therefore, AirReps took it upon themselves to offer a solution to verify sellers who meet a standard set of requirements.


## Requirements:
1. Seller does not bait-and-switch
1. Seller has a good, long-standing reputation
1. Seller has a significant number of good, independent reviews
1. Seller has gained the trust of the community
