---
id: guide-verification
title: Verified Sellers
custom_edit_url: https://github.com/AirReps/website-content/blob/edit/guide-verification.md
---

:::tip
The best way to get continued support and the latest news about AirPods
replicas, is to [join our discord!](https://airreps.link/discord)
:::

## Background
I has become increasingly harder to keep track of sellers & products which offer a consistent standard of quality. Therefore, AirReps took it upon themselves to offer a solution to verify sellers who meet a standard set of requirements.


## Requirements:
1. Seller does not bait-and-switch
1. Seller has a good, long-standing reputation
1. Seller has a significant number of good, independent reviews
1. Seller has gained the trust of the community

## Links
LIST IS IN ORDER FROM NEWER TO OLDER

The following list contains links to verified sellers only. If you know of any trustworthy sellers who deserve verification, please let an Ultimate Guide author know or write a review about their product. Remember to only purchase from verified sellers to ensure the quality and authenticity of your AirPods.

## AIRPODS 2
| Version | Seller | Official Store | Direct Link |
|----------|----------|----------|----------|
| V3E | *Earhive* | https://earhive.com/ | https://airreps.link/ehv3e |
| V3E | *HiCity* | https://hicitypods.com/ | https://airreps.link/hcv3md |
| V3E | *Jenny* | https://jenny.airreps.info/ | https://airreps.info/jennyv3e |
| V3EU | *Jenny* | https://jenny.airreps.info/ | http://airreps.info/jennyv3u |

## AIRPODS PRO GEN 2
| Version | Seller | Official Store | Direct Link |
|----------|----------|----------|----------|
| V5.2	| Jenny | https://jenny.airreps.info	| https://airreps.link/jenny |
| V5.1	| Earhive	| https://earhive.com	| https://airreps.link/ehv51| 
| V5.1	| Jenny	| https://jenny.airreps.info	| https://airreps.link/jenny| 
| V5.1	| HiCity	| https://hicitypods.com	| https://airreps.link/hcpv51| 
| V5.1 BES | HiCity	| https://hicitypods.com	| https://airreps.link/hcpv51b| 
| V5.0	| Jenny	| https://jenny.airreps.info	| https://airreps.link/jenny| 
| V4.2	| HiCity	| https://hicitypods.com	| https://airreps.link/hcpv42| 

## AIRPODS PRO
| Version | Seller | Official Store | Direct Link |
|----------|----------|----------|----------|
| V4.9 (Tigerbuilder)	| Earhive | https://earhive.com	| https://airreps.link/ehv49 |
| V4.9 (Tigerbuilder)	| HiCity	| https://hicitypods.com	| https://airreps.link/hcv49tb |
| V4.9 (HR)	| HiCity	| https://hicitypods.com	| https://airreps.link/hcv49hr |
| V4.9 (Tigerbuilder) |	Jenny	| https://jenny.airreps.info	| https://airreps.info/jennyv49tb |
| V4.9 (HR) |	Jenny	| https://jenny.airreps.info	| https://airreps.info/jennyv49hr |
| V4.8	| HiCity	| https://hicitypods.com	| https://airreps.link/hcv48 |
| V4.7	| Jenny	| https://jenny.airreps.info	| https://airreps.info/jennyv47hui |
| V4.7	| HiCity	| https://hicitypods.com	| https://airreps.link/hcv47 |
| V4.5 (TB) |	Earhive	| https://earhive.com	| https://airreps.link/ehv45 |
| V4.5 (HR)	| Jenny	| https://jenny.airreps.info	| https://airreps.info/jennyv45hr |
| V4.5 (Hulian) |	Jenny	| https://jenny.airreps.info	| https://airreps.info/jennyv45hui |
| V4.5	| HiCity	| https://hicitypods.com	| https://airreps.link/hcv45d |
| V4	| HiCity	| https://hicitypods.com	| https://airreps.link/hcv4blued |

## AIRPODS MAX
| Version | Seller | Official Store | Direct Link |
|----------|----------|----------|----------|
| V1.5 |	HiCity |	https://hicitypods.com |	https://airreps.link/hicityairmax |
| V1.5 |	Jenny |	https://jenny.airreps.info |	http://airreps.info/jennymax15 |

## AIRPODS 3
| Version | Seller | Official Store | Direct Link |
|----------|----------|----------|----------|
| V1.3	| Jenny	| https://jenny.airreps.info |	http://airreps.link/jennyv13 |
| V1.3	| HiCity	| https://hicitypods.com | https://airreps.link/hcv13g3 |
| V1E	| Earhive	| https://earhive.com	| https://airreps.link/ehv1e |
| V1.2 (Upgraded) |	Jenny	| https://jenny.airreps.info |	http://airreps.link/jennyv12upgrade |
| V1.2	| Jenny	| https://jenny.airreps.info	| http://airreps.link/jennyv12 |
| V1 |	Jenny	| https://jenny.airreps.info |	http://airreps.link/g3v1 |
| V1.2 |	HiCity	| https://hicitypods.com |	http://airreps.link/hicityv12 |
